@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
/* Targeting main DIV */

#main {
  height: 100%;
  width: 100%;
  background-color: #ededed;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 26% 55% 19%;
}

/* Targeting the left-top-left and it's elements */

#left-top-left {
  /* background-color: red; */
  padding: 40px;
}

#square {
  height: 25px;
  width: 25px;
  rotate: 45deg;
  background-color: black;
}

/* Targeting the left-top-right and it's elements */

#left-top-right {
  /* background-color: blue; */
  justify-self: right;
  padding: 40px;
  text-align: right;
  font-weight: 500;
}

#left-top-right h4 {
  margin-bottom: 40px;
}

#left-top-right h5 {
  color: #333;
}

/* Targeting the left-center and it's elements */
#left-center {

  grid-column: 1/3;
  padding: 30px;
 
}

#left-center h1{
    font-size: 4.5vw;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  
}
#left-center h1:nth-child(2n){
    text-align: center;
}

/* Targeting the left-bottom and it's elements */
#left-bottom {
  grid-column: 1/3;
  padding-left: 40px;
}
#left-bottom p{
    width: 70%;
}

#right {
  background-color: pink;
  grid-column: 3;
  grid-row: 1/4;
}
