@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
/* Targeting main DIV */

#main {
  height: 100%;
  width: 100%;
  background-color: #ededed;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 26% 55% 19%;
}

/* Targeting the left-top-left and it's elements */

#left-top-left {
  padding: 40px;
}

#square {
  height: 25px;
  width: 25px;
  rotate: 45deg;
  background-color: black;
}

/* Targeting the left-top-right and it's elements */

#left-top-right {
  justify-self: right;
  padding: 40px;
  text-align: right;
  font-weight: 500;
}

#left-top-right h4 {
  margin-bottom: 40px;
}

#left-top-right h5 {
  color: #333;
}

#left-top-right h6 {
  display: none;
}

/* Targeting the left-center and it's elements */
#left-center {
  grid-column: 1/3;
  padding: 30px;
}

#left-center h1 {
  font-size: 4.5vw;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
#left-center h1:nth-child(2n) {
  text-align: center;
}

/* Targeting the left-bottom and it's elements */
#left-bottom {
  grid-column: 1/3;
  padding-left: 40px;
}
#left-bottom p {
  width: 70%;
  color: #333;
}

/* Targeting the right and it's elements */
#right {
  grid-column: 3;
  grid-row: 1/4;
  padding: 40px 140px 40px 40px;
}

#right video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Arrow */

#arrow {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
}

#arrow i {
  font-size: 40px;
  font-weight: 100;
}

/*
Max-Width:600px
*/

@media (max-width: 600px) {
  #main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 9% 32% 9%;
  }
  /* Targeting the left-top-left and it's elements */

  #left-top-left {
    padding: 25px;
  }

  #square {
    height: 20px;
    width: 20px;
  }

  /* Targeting the left-top-right and it's elements */

  #left-top-right {
    justify-self: right;
    padding: 20px;
    text-align: right;
    width: 100%;
  }

  #left-top-right h4 {
    margin-bottom: 40px;
    display: none;
  }

  #left-top-right h5 {
    color: #333;
    display: none;
  }

  #left-top-right h6 {
    display: block;
    font-size: 20px;
  }

  /* Targeting the left-center and it's elements */
  #left-center {
    padding: 15px 15%;
  }

  #left-center h1 {
    font-size: 10vw;
    line-height: 9vw;
  }

  /* Targeting the left-bottom and it's elements */
  #left-bottom {
    padding: 0px 20px;
  }
  #left-bottom p {
    padding: 5px;
    width: 90%;
    font-size: 11px;
  }

  /* Arrow */

  #arrow {
    top: 53%;
    left: 50%;
    padding: 8px;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  #arrow i {
    font-size: 20px;
  }

  /* Targeting the right and it's elements */

  #right {
    grid-column: 1/4;
    grid-row: 4;
    padding: 20px;
  }
  #right video {
    height: 45vh;
  }
}
